<%= form_for @service do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :information %><br>
    <%= f.text_field :information %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

