<h1>Create a New Service</h1><br>
<%= form_for([@user, @service]) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

   <div>
    <%= f.label :information %>
    <%= f.text_field :information %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>

