<h3><%= @service.name %></h3>
<p><strong>Name: </strong><%= @service.name %></p>
<p><strong>Address: </strong><%= @service.address %></p>
<p><strong>Information: </strong><%= @service.information %></p>
<p>
  <%= link_to "All", services_path %>
  <%= link_to "Edit", edit_service_path(@service) %>
  <%= link_to 'Destroy', @service, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Home', root_path %>
</p>


