<!DOCTYPE html>
<html>
<head>
  <title>Serve For Community</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css" rel="stylesheet">
  <style>li{margin-bottom:0;}</style>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
            navbar {min-height:40px !important}">
            <li><img src="http://www.logomaker.com/logo-images/a100e43d36036479.gif" width="125" height="55"/>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user  %>
              <li>Hello, <%= current_user.name %>!</li>
              <li><%= link_to "My Services", "/users/#{current_user.id}" %> </li>
               <li><%= link_to "New Services", "/services/new" %> </li>
              <li><%= link_to_unless_current 'Logout', logout_path %> </li>
            <% else %>
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Sign up", new_user_path %></li>
            <% end %>
    </div>
<div class="container">
<%= yield %>
</div>
</body>
</html>
